<ion-view title="Calendario Hero" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="calendarioHero-card212">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item56">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Sábado 23-04-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/61wmZ3kTOKOZ3KlMV5Zn_21f877_b2e52813a1d647099601f673070f846e.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/hGohKTp0TFycEx8ZE7BE_21f877_004102d0ef9246b7b1d7649d65b4fd04.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card213">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item58">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Sabado 30-04-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/enW5JP7UQOiyPspOY5xF_21f877_75400a5a615445949a6be88d23b83a76.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/baKCDfqnTsqtpz2sJtCE_21f877_d13ab77c04c64e9d9215c75a55c90687.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card214">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item59">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Miércoles 04-05-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/sFRVWMY8SSa23d6nqXaP_21f877_7b5be400495f416d87b39d72f1c44e68.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/DvayvGXEQWTUsDpgFJx0_21f877_fd7eebb0a60a463bac8a3b9b736c35c6.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card215">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item60">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Sábado 07-05-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/7Oaff0wBTeK9qCCkvqdv_21f877_b2c73edf12824760a5fe35bbabb07053.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/NdNrgYVlTj6MMpqHmPbz_21f877_eb1499a423a04e54ad4075360868ca47.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card216">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item61">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Sábado 14-05-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/4XwErlhqTMC4Zx1V3auG_21f877_a90e028031fa4f659d64ebd627caf917.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/7moYik3kS6OB9vM5JFeC_21f877_235098694e0b4ff9bf99478682c46be1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card217">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item62">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Sábado 21-05-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/LaEbD6XfTgqqaDLMXoTC_21f877_526162fe1f9d48088ab30789a0127aac~mv1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/KN7kJ09tQueXuG4JVXaK_21f877_711d141341474b5f92ab9bd7ad24d84b~mv1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card218">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item63">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Vie-Sab (27-28) -05-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/1A8ODY3oRUOm5AHcAs0r_21f877_e448a1a6c45f4c0dad04d3d96c848f82~mv2.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/a7i99A0iRSmd6lC0qRUy_21f877_759833f6ab87430bbab962e31a2444a1~mv2.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card219">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item64">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Sábado 04-06-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/PM3wHvAcQLmHqnI1PC2W_21f877_629efe60bec0462a8d43a8ecdc82302d.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/5B8e67sNSlyFzVD8570i_21f877_c83d9a9da5c3464a9c9671faf768736d.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card220">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item65">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Sábado 11-06-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/Icc5oJfuT6m5zMDeuMJk_21f877_519429e44e7a45289ed8d892f6dc18dd.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/CbYrjOtoT221l4B96BLU_21f877_3d4fb6eaef0a406a888c9548fe6e7bfb.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="list card " id="calendarioHero-card221">
            <ion-item class="item-thumbnail-left  " id="calendarioHero-list-item66">
                <img src="img/WqEYJKm0RMIjA3uqWQGT_cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Fecha</h2>
                <p>Sábado 18-06-16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/wnHwAUWWQDmFrh5Xbzx3_21f877_c1a903a9e1f64d57922a5a1be440d22d.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class=" item item-image">
                <img src="img/X79NBePEQnmX3PjzPGu9_21f877_1f796164c53f45ecbdea1235e04f7c47.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </ion-content>
</ion-view>