<ion-view title="" hide-back-button="true" id="page11" class=" ">
  <ion-floating-menu  menu-open-color ="rgb(47, 156, 186)"  menu-color ="rgb(47, 156, 186)"  menu-icon="ion-navicon" menu-icon-color="" iconColor="#fff">
      <ion-floating-item button-color="#ffffff" icon="ion-gear-b" click="click()" ></ion-floating-item>
      <ion-floating-item icon="ion-images" button-color="#ffffff" click="click()" ui-sref="tabsController.imagenesHero" ></ion-floating-item>
      <ion-floating-item icon="ion-ios-film" click="click()" button-color="#ffffff" ui-sref="tabsController.videosHero" ></ion-floating-item>
  </ion-floating-menu>

  <ion-content scroll="false">
    <tab-slide-box>
               <div class="tsb-icons">
                 <div class="tsb-ic-wrp">
                 <a href="javascript:;" class="ion-fireball"></a>
                 <a href="javascript:;" class="ion-ios-paper"></a>
                 <a href="javascript:;" class="ion-android-calendar"></a>
                 <a href="javascript:;" class="ion-ios-people"></a>

               </div>
               </div>
                 <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                     <ion-slide>
                     <ion-content>
                       <div class="bar bar-header bar-stable">
                         <h5 class="title">Resultados en vivo</h5>
                       </div>
                       <br>
                       <br>
                       <div class="box blue" ng-controller="resultadosMundialCtrl">
                         <!-- <div ng-hide="!showPager" class="swiper-pagination swiper-pagination-clickable">
                           <span class="swiper-pagination-bullet swiper-pagination-bullet-active"> </span>
                           <span class="swiper-pagination-bullet"> </span>

                           </div> -->
                         <div ng-repeat="resultado in resultadosAll| orderBy:$index:true" >
                           <div class="border">
                             <div class="row" style="margin-left: 0px;">
                               <div class="col-xs-12">
                                 <h4 class="text-center">
                                   {{resultado.fecha}}
                                 </h4>
                                 <h5 class="text-center">
                                   {{resultado.hora}}
                                 </h5>
                                 <div class="border2">
                                   <h5 class="text-center">
                                     {{resultado.estado}}
                                   </h5>
                                   <h6 class="text-center">
                                     {{resultado.ronda}}
                                   </h6>
                                   <div class="row">
                                     <div class="col-xs-6">
                                       <h5 class ="text-left">
                                         {{resultado.equipo1}}
                                       </h5>
                                     </div>
                                     <div class="col-xs-6">
                                       <h5 class ="text-right">
                                         {{resultado.equipo2}}
                                       </h5>
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-xs-4">
                                       <h5 class ="text-left">
                                         {{resultado.marcador1}}
                                       </h5>
                                       <img alt="Bootstrap Image Preview" src="{{resultado.urlAvatar1}}" style ="width: 50px;"class="img-circle" />
                                     </div>
                                     <div class="col-xs-4">
                                       <h5 class="text-center">
                                         VS
                                       </h5>
                                     </div>
                                     <div class="col-xs-4">
                                       <h5 class ="text-right">
                                         {{resultado.marcador2}}
                                       </h5>
                                       <img alt="Bootstrap Image Preview" src="{{resultado.urlAvatar2}}" style ="width: 50px;"class="img-circle imgRight" />
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </ion-content>
                     </ion-slide>
                     <ion-slide>
                     <ion-content>
                       <div class="bar bar-header bar-stable">
                         <h5 class="title">Noticias</h5>
                       </div>
                       <br>
                       <br>

                       <div class="box blue" ng-controller="noticiasArgosCtrl">
                         <div ng-repeat="noticia in noticiasAll| orderBy:$index:true">
                           <div class="list card " id="noticiasHero-card28">
                             <div class=" item item-image">
                               <img src="{{noticia.urlImgNoticia}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                               <p><small style="font-size: 70%; text-align: right;" >{{noticia.derechoFoto}}</small></p>
                             </div>
                             <ion-item class="item-icon-left " id="noticiasHero-list-item42" href="tel:"> <i class="icon ion-android-chat"></i>{{noticia.titulo}}</ion-item>
                             <p id="noticiasHero-markdown6" style="color:#000000;text-align:justify;" class=" "></p>
                             <p id="noticiasHero-markdown7" style="color:#000000;text-align:center;" class=" ">{{noticia.texto}}</p>
                           </div>
                         </div>
                       </div>
                     </ion-content>
                     </ion-slide>
                     <ion-slide>
                     <ion-content>
                       <div class="bar bar-header bar-stable">
                         <h5 class="title">Calendarios</h5>
                       </div>
                       <br>
                       <br>
                       <div class="box blue" ng-controller="calendarioMundialCtrl">
                         <div class="" ng-repeat="calendario in calendarios">
                           <div class="border">
                             <div class="row" style="margin-left: 0px;">
                               <div id="calendarioBorde" class="col-xs-12">
                                 <h4 class="text-center">
                                   {{calendario.fecha}}
                                 </h4>
                                 <h5 class="text-center">
                                   {{calendario.hora}}
                                 </h5>
                                 <div class="border">
                                   <h5 class="text-center">
                                     {{calendario.ciudad}}
                                   </h5>
                                   <h5 class="text-center">
                                     {{calendario.grupo}}
                                   </h5>
                                   <h6 class="text-center">
                                     {{calendario.ronda}}
                                   </h6>
                                   <div class="row">
                                     <div class="col-xs-6">
                                       <h5 class ="text-left">
                                         {{calendario.nombre1}}
                                       </h5>
                                     </div>
                                     <div class="col-xs-6">
                                       <h5 class ="text-right">
                                         {{calendario.nombre2}}
                                       </h5>
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-xs-4">

                                       <img alt="Bootstrap Image Preview" src="{{calendario.imagen1}}" style ="width: 50px;"class="img-circle" />
                                     </div>
                                     <div class="col-xs-4">
                                       <h5 class="text-center">
                                         VS
                                       </h5>
                                     </div>
                                     <div class="col-xs-4">

                                       <img alt="Bootstrap Image Preview" src="{{calendario.imagen2}}" style ="width: 50px;"class="img-circle imgRight" />
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </ion-content>
                     </ion-slide>
               <ion-slide>
               <ion-content>
                 <div class="bar bar-header bar-stable">
                   <h5 class="title">Equipos</h5>
                 </div>
                 <br>
                 <br>
                 <div class="box blue" ng-controller="equiposArgosCtrl">
                   <div id="equiposHero-button-bar1" class=" button-bar "></div>
                   <ion-list id="equiposHero-list10" class=" ">
                     <div class="" ng-repeat="equipo in equipos| orderBy:$index:true">
                       <ion-item class="item-avatar " id="equiposHero-list-item68" href="{{equipo.urlPagina}}" target="_blank" >
                         <img src="{{equipo.imagen}}">
                         <h2>{{equipo.equipo}}</h2>
                         <p>{{equipo.ciudad}}</p>
                       </ion-item>
                     </div>
                   </ion-list>
                 </div>
               </ion-content>
                     </ion-slide>
                     <ion-slide>
                         <h1>Profile content</h1>
                     </ion-slide>

                 </ion-slide-box>
               </tab-slide-box>

  </ion-content>
</ion-view>
