<ion-view title="Equipos Hero" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.posicionesHero" id="equiposHero-button15" class=" button button-assertive  button-block button-outline ">Posiciones</a>
        <div id="equiposHero-button-bar1" class=" button-bar "></div>
        <ion-list id="equiposHero-list10" class=" ">
          <div class="" ng-repeat="equipo in equipos| orderBy:$index:true">
            <ion-item class="item-avatar " id="equiposHero-list-item68" href="{{equipo.urlPagina}}" target="_blank" >
                <img src="{{equipo.imagen}}">
                <h2>{{equipo.equipo}}</h2>
                <p>{{equipo.ciudad}}</p>
            </ion-item>
          </div>
          </ion-list>
    </ion-content>
</ion-view>
