<ion-view title="Equipos" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="equipos-card210">
            <ion-item class="item-thumbnail-left  " id="equipos-list-item49">
                <img src="img/cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Copa Hero</h2>
                <p>Fútbol de Salón</p>
            </ion-item>
            <a ui-sref="tabsController.equiposHero" id="equipos-button7" class=" button button-assertive  button-block ">Equipos</a>
        </div>
        <div class="list card " id="equipos-card211">
            <ion-item class="item-thumbnail-left  " id="equipos-list-item50">
                <img src="img/PKH6YpeESJKwkmk8T0Ol_futsal.png">
                <h2>Liga Argos</h2>
                <p style="white-space:normal;">Fútbol Sala</p>
            </ion-item>
            <a ui-sref="tabsController.equiposArgos" id="equipos-button8" class=" button button-balanced  button-block ">Equipos</a>
        </div>
        <div class="list card " id="equipos-card229">
            <ion-item class="item-thumbnail-left  " id="equipos-list-item78">
                <img src="img/xTWL1pJkSwOfusAH6UXh_MundialLogo.png">
                <h2>Mundial Futsal</h2>
                <p style="white-space:normal;">Colombia 2016</p>
            </ion-item>
            <a ui-sref="tabsController.equiposMundial" id="equipos-button12" class=" button button-calm  button-block ">Equipos</a>
        </div>
    </ion-content>
</ion-view>