<ion-view title="Imagenes Hero" id="page24" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="imagenesHero-card230">
            <h5 id="imagenesHero-heading5" style="color:#000222;text-align:center;" class=" ">Heading</h5>
            <div class=" item item-image">
                <a style="display:block;" href="tel:">
                    <img src="img/b7etq3FNS8KY7GJbt8Pu_logo1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <p id="imagenesHero-markdown15" style="color:#000222;font-size:10px;" class=" ">Fuente: Periódico</p>
        </div>
    </ion-content>
</ion-view>