<ion-view title="Noticias Hero" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="noticiasHero-button-bar2" class=" button-bar clase1">
            <a ui-sref="tabsController.videosHero" id="noticiasHero-button21" style="font-weight:300;color:default;" class=" button button-assertive  button-block button-outline icon-left ion-ios-videocam ">Videos</a>
            <br>
            <a ui-sref="tabsController.imagenesHero" id="noticiasHero-button23" style="font-weight:300;color:default;" class=" button button-assertive  button-block button-outline icon-right ion-image ">Imágenes</a>
        </div>
        <div class="list card " id="noticiasHero-card28">
            <div class=" item item-image">
                <img src="img/RbMWZJJYRGm3Jz3UbOf6_21f877_b9a6ad1766e546cda27ce6d2932b1b19~mv2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left  " id="noticiasHero-list-item42" href="tel:">
                <i class="icon ion-android-chat"></i>Taz impuso récord</ion-item>
            <p id="noticiasHero-markdown6" style="color:#000000;text-align:justify;" class=" "></p>
            <p id="noticiasHero-markdown7" style="color:#000000;text-align:center;" class=" ">Taz de Santander-UTS, se convirtió en el primer equipo en la historia de la Copa que logra siete triunfos seguidos en igual número de presentaciones. Es decir, es el equipo de mejor arranque, regularidad victoriosa que lo tienen como líder
                único del Grupo D de esta nueva versión de la Copa Hero de Microfútbol. Marcha como estrella solitaria con 14 puntos, el mayor botín conseguido hasta el momento por equipo alguno en esta octava temporada. Sigue esta noticia en http://www.fecofutsalon.com/#!Taz-impuso-récord/cjds/574a7c890cf25d206f8c9fc1</p>
        </div>
        <div class="list card " id="noticiasHero-card29">
            <ion-item class="item-icon-left  " id="noticiasHero-list-item46" href="tel:">
                <i class="icon ion-android-chat"></i>Goles Milagroso Buga</ion-item>
            <div>
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/sTIh52zHcLA" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="list card " id="noticiasHero-card222">
            <div class=" item item-image">
                <img src="img/J9sFWt19SMeNPYRUfh6z_Guerreros Pijaos 4.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left  " id="noticiasHero-list-item67" href="tel:">
                <i class="icon ion-android-chat"></i>Pijaos sigue en su mala racha</ion-item>
            <p id="noticiasHero-markdown8" style="color:#000000;text-align:justify;" class=" "></p>
            <p id="noticiasHero-markdown9" style="color:#000000;text-align:center;" class=" ">Ya van 6 derrotas que obtiene el equipo de Pijaos en la copa profesional de Microfutbol. En su última visita que se enfrentaba como condición de visitante al conjunto de La Noria Fs, sumó otro encuentro perdido, en la séptima fecha del grupo
                B efectuada este sábado 28 de mayo. La próxima disputa del equipo se llevará a cabo este 4 de junio en el Coliseo La Magdalena de Espinal contra el puntero de este grupo el Real Caldas.</p>
        </div>
    </ion-content>
</ion-view>
