<ion-view title="Noticias" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="noticias-card24">
            <ion-item class="item-thumbnail-left  " id="noticias-list-item27">
                <img src="img/cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Copa Hero</h2>
                <p>Fútbol de Salón</p>
            </ion-item>
            <a ui-sref="tabsController.noticiasHero" id="noticias-button3" class=" button button-assertive  button-block ">Noticias</a>
        </div>
        <div class="list card " id="noticias-card25">
            <ion-item class="item-thumbnail-left  " id="noticias-list-item28">
                <img src="img/PKH6YpeESJKwkmk8T0Ol_futsal.png">
                <h2>Liga Argos</h2>
                <p style="white-space:normal;">Fútbol Sala</p>
            </ion-item>
            <a ui-sref="tabsController.noticiasArgos" id="noticias-button4" class=" button button-balanced  button-block ">Noticias</a>
        </div>
        <div class="list card " id="noticias-card224">
            <ion-item class="item-thumbnail-left  " id="noticias-list-item73">
                <img src="img/z4VsP0bRumjWzaavoQ13_MundialLogo.png">
                <h2>Mundial Futsal</h2>
                <p style="white-space:normal;">Colombia 2016</p>
            </ion-item>
            <a ui-sref="tabsController.noticiasMundial" id="noticias-button10" class=" button button-calm  button-block ">Noticias</a>
        </div>
    </ion-content>
</ion-view>