<ion-view title="Resultados Argos" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="resultadosArgos-list8" class=" ">
            <ion-item class="item-icon-left  " id="resultadosArgos-list-item23">
                <i class="icon ion-ios-football-outline"></i>Resultado 1</ion-item>
            <ion-item class="item-icon-left  " id="resultadosArgos-list-item24">
                <i class="icon ion-ios-football-outline"></i>Resultado 1</ion-item>
            <ion-item class="item-icon-left  " id="resultadosArgos-list-item25">
                <i class="icon ion-ios-football-outline"></i>Resultado 1</ion-item>
            <ion-item class="item-icon-left  " id="resultadosArgos-list-item26">
                <i class="icon ion-ios-football-outline"></i>Resultado 1</ion-item>
        </ion-list>
    </ion-content>
</ion-view>