<ion-view title="Resultados" hide-back-button="true" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="resultados-card21">
            <ion-item class="item-thumbnail-left  " id="resultados-list-item2">
                <img src="img/cGCnBOkPQnO30LcDe5cg_futsalon.png">
                <h2>Copa Hero</h2>
                <p>Fútbol de Salón</p>
            </ion-item>
            <a ui-sref="tabsController.resultadosHero" id="resultados-button1" class=" button button-assertive  button-block ">Resultados</a>
        </div>
        <div class="list card " id="resultados-card22">
            <ion-item class="item-thumbnail-left  " id="resultados-list-item4">
                <img src="img/PKH6YpeESJKwkmk8T0Ol_futsal.png">
                <h2>Liga Argos</h2>
                <p style="white-space:normal;">Fútbol Sala</p>
            </ion-item>
            <a ui-sref="tabsController.resultadosArgos" id="resultados-button2" style="color:#FFFFFF;" class=" button button-balanced  button-block ">Resultados</a>
        </div>
        <div class="list card " id="resultados-card23">
            <ion-item class="item-thumbnail-left  " id="resultados-list-item72">
                <img src="img/tHOsRYPR7iS4Fou4aqVQ_MundialLogo.png">
                <h2>Mundial Futsal</h2>
                <p style="white-space:normal;">Colombia 2016</p>
            </ion-item>
            <a ui-sref="tabsController.resultadosMundial" id="resultados-button9" style="color:#FFFFFF;" class=" button button-calm  button-block ">Resultados</a>
        </div>
    </ion-content>
</ion-view>